@import '../../styles/index.scss';

.search-page-container {
    background-color: $primary;

    > .vehicle-list-container {
        background-color: $secondary;
        height: 100dvh;

        > .filters-button {
            background-color: $primary;
            border-radius: 40px;
            border: none;
            color: $secondary;
            height: 50px;
            position: fixed;
            right: 120px;
            top: 120px;
            width: 50px;
            z-index: 2;

            @include smartphone {
                bottom: 50px;
                right: 20px;
                top: unset;
            }

            @include tablet {
                bottom: 50px;
                right: 50px;
                top: unset;
            }
        }

        > .vehicle-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            list-style: none;
            padding: 30px 0;

            @include container-config;
        }
    }
}