@import '../../../../styles/index.scss';

.vehicle-overview-container {

    > .vehicle-overview-content {
        display: flex;
        flex-direction: column;
        padding: 60px 0;

        @include container-config;

        > .overview-title {
            color: $secondary;
            font-size: 32px;
        }

        > .vehicle-list {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: space-between;
            list-style: none;
            margin-top: 40px;

            @include apply-styles-for-multiple-devices(mobile, tablet) {
                justify-content: center;
            }

            > .loading-container {
                margin: 0 auto;
            }
        }

        > .more-button {
            align-self: center;
            background-color: $secondary;
            border-radius: 5px;
            border: none;
            color: $primary;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            height: 50px;
            margin-top: 40px;
            max-width: 100%;
            transition: 0.2s ease-in-out;
            width: 250px;

            &:hover {
                background-color: $secondary-hover;
            }
        }
    }
}