@import '../../../../styles/index.scss';

.buy-modal-container {
    align-items: center;
    background-color: $modal-background;
    display: flex;
    height: 100dvh;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 100dvw;
    z-index: 2;

    > .buy-modal-content {
        background-color: $secondary;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        height: 400px;
        padding: 10px;
        width: 500px;

        > .close-modal-button {
            align-self: flex-end;
            background: none;
            border: none;
            padding: 3px;

            &:hover {
                background-color: $secondary-hover;
                border-radius: 20px;
                cursor: pointer;
            }
        }

        > .buy-modal-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            > .modal-text {
                font-size: 24px;
                font-weight: bold;
            }

            > .buy-modal-label {
                display: flex;
                flex-direction: column;

                > .email-input {
                    height: 35px;
                    padding: 5px;
                }

                > .message-input {
                    padding: 5px;
                    resize: none;
                }
            }

            > .submit-button {
                background-color: $primary;
                border-radius: 5px;
                border: none;
                color: $secondary;
                cursor: pointer;
                font-size: 16px;
                font-weight: bold;
                height: 40px;
                transition: 0.2s ease-in-out;

                &:hover {
                    background-color: $primary-hover;
                }
            }
        }
    }
}