@import '../../styles/index.scss';

.header-container {
    align-items: center;
    background-color: $primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

    @include container-config;

    @include tablet {
        justify-content: center;
    }

    > .navigation-container {
        max-width: 90%;
        width: 500px;

        > .navigation-links-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;

            @include mobile {
                flex-direction: column;
                text-align: center;
            }
            
            > .navigation-item {
                color: $secondary;
                cursor: pointer;
                font-weight: 600;
                padding: 10px;

            }
        }
    }
}