@import '../../styles/index.scss';

.header-container {
    align-items: center;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @include container-config;

    > .navigation-container {
        max-width: 90%;
        width: 500px;

        @include apply-styles-for-multiple-devices(mobile, tablet) {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        > .hamburger-icon {
            background: none;
            border: none;
            color: $secondary;
            cursor: pointer;
        }

        > .navigation-links-list {
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            @include apply-styles-for-multiple-devices(mobile, tablet) {
                align-items: center;
                background-color: $secondary;
                flex-direction: column;
                gap: 40px;
                height: 100dvh;
                justify-content: start;
                padding: 40px;
                position: fixed;
                right: 0px;
                top: 100px;
                width: 100%;
                z-index: 3;
            }
            
            > .navigation-item {
                color: $secondary;
                cursor: pointer;
                font-weight: 600;
                padding: 10px;

                @include apply-styles-for-multiple-devices(mobile, tablet) {
                    color: $black; 
                }

            }
        }
    }
}