@import '../../styles/index.scss';

.main-page-container {
    background-color: $primary;

    > .page-content {

        > .page-banner {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            height: 500px;
            justify-content: space-between;

            @include container-config;

            @include applyStyleForMultipleDevices(mobile, tablet) {
                justify-content: space-around;
            }

            > .banner-title-container {
                color: $secondary;
                width: 450px;

                > .banner-title {
                    font-size: 38px;
                    margin-bottom: 15px;
                }

                > .banner-paragraph {
                    font-size: 18px;
                }
            }
        }

        > .about-us-container {
            background-color: $secondary;

            > .about-us-content {
                padding: 60px 0;

                @include container-config;

                > .about-us-title {
                    font-size: 32px;
                }

                > .about-us-text {
                    padding: 15px 0;
                }

                > .trusted-brands-title {
                    margin: 40px 0;
                }
            }
        }
    }
}