.main-page-container {
    > .main-page-header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;

        > .navigation-container {
            max-width: 90%;
            width: 500px;

            > .navigation-links-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                list-style: none;
                
                > .navigation-item {
                    cursor: pointer;
                    font-weight: 600;
                    padding: 0 10px;

                }
            }
        }
    }
}